body{text-align: center;
    background-color: rgb(177, 109, 240);
    font-size: large;
}

#header a{ padding: 0px 15px;
    color: black;
}
#header {
    background-color: rgb(99, 33, 161);
    max-width: 100%;

}